package main

import (
	h "aoc2023/internal/helpers"
	"fmt"
	"os"
)

func main() {

	d := &DayXXX{}

	err := h.Dispatch(os.Args, d)
	if err != nil {
		fmt.Println("Error:", err)
		os.Exit(1)
	}

}

type DayXXX struct {
	lines []string
}

func (d *DayXXX) Setup(filename string) {
	fmt.Println("Setup")
	d.lines = h.ReadFileToLines(filename)
}

func (d *DayXXX) Part1() {
	fmt.Println("Part 1")
}

func (d *DayXXX) Part2() {
	fmt.Println("Part 2")
}
